{% extends "extends/row_col_lg_12.html" %}
{% load ext_template %}
{% block panel-heading %}添加参数{% endblock %}
{% block alert-msg %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <form action="{{ form_url }}" method="post">
                {% csrf_token %}
                {% include 'includes/form_field.html' %}
                {% include './_field_role_name.html' %}
                <input class="btn btn-default" id="application_submit" name="commit" type="submit" value="保存">
                <a href="/" class="btn btn-default">返回</a>
            </form>
        </div>
    </div>
    </div>
{% endblock %}
