<script>
    var frequency = 3000
    rest_time_int = setInterval(update_rest_time, 1000);
    my_int = setInterval(ws_ready, frequency);
    $(function () {
        if (window.WebSocket == undefined) {
            alert('浏览器不支持Web Socket');
            return false
        }
    })
    // 调用ws
    function ws_ready() {
        // 获取表格中数据ID
        var host_list = [];
        var ids = [];
        var d_tr = $('#t_deploy tr').not(':first');
        if (d_tr.length == 0) {
            ajax_set_task_complete()
            clearInterval(my_int)
        }
        d_tr.each(function () {
            td = $(this).children('td:nth-child(2)');
            ip = td.text()
            task_log_id = $(this).attr('id').split('_')[1];
            if (!host_list.includes(ip)) {
                host_list.push(ip);
                // 要发送的数据
                var data = {
                    "task_log_id": task_log_id,
                    "tid": {{ tid }}
                }

                // Connect to Web Socket
                ws = new WebSocket("ws://{{ base_url }}" + '/deploy_status/' + task_log_id);
                {#                conn_websocket('{{ base_url }}', 'deploy_status', data)#}
                conn_websocket(ws, data)

            }
        })
    }

    // ws调用方法
    function ws_invoke(data) {
        console.log('ws_invoke')
        console.log(data)
        var status = data.status;
        var status_name = data.status_name
        var tr = $('#tr_' + data.id);
        tr.children('td:nth-last-child(4)').empty();
        tr.children('td:nth-last-child(4)').text(status_name);
        if (status > 1) {
            //状态为部署完成
            $('#t_result tr:last').after(tr);
            tr.children('td:nth-last-child(2)').empty();
            if (status == 2) {
                tr.addClass('green');
            } else {
                tr.addClass('red');
                old_html = tr.children('td:nth-last-child(1)').html()
                retry_html = '<a href="#" onclick="retry_deploy(\'' + data.id + '\')">重试</a>'
                tr.children('td:nth-last-child(1)').html(retry_html + old_html)
                tr.children('td:nth-last-child(3)').text(data.use_time)
            }
        } else if (status == 1) {
            //状态为正在部署
            tr.children('td:nth-last-child(2)').html($('<img/>', {
                src: '/static/bootstrap/images/reload.gif',
                alt: 'reload',
                style: 'height: 20px;'
            }));
        }
    }

    // 将总任务task状态更新为完成
    function ajax_set_task_complete() {
        $.ajax({
            url: "/task/set_task_complete",
            method: "get",
            success: function (response) {
                console.log(response.msg)
            }
        })
    }

    // 部署失败后,重试功能
    function retry_deploy(id) {
        $.ajax({
            url: "/task_log/retry_deploy/" + id,
            method: "get",
            success: function (response) {
                msg = response.msg
                if (msg == 'success') {
                    var tr = $('#tr_' + id);
                    $('#t_deploy tr:last').after(tr);
                    // 删除部署成功、失败样式
                    tr.removeClass('red').removeClass('green');
                    // 更新状态名称
                    tr.children('td:nth-last-child(4)').text(response.status_name);
                    // 删除耗时
                    tr.children('td:nth-last-child(3)').text('')
                    // 删除重试链接
                    tr.children('td:nth-last-child(1)').children('a:nth-child(1)').remove()
                    if ($('#t_deploy tr:last').length == 1) {
                        rest_time_int = setInterval(update_rest_time, 1000);
                        my_int = setInterval(ws_ready, frequency);
                    }

                } else {
                    $('div[role=alert]').removeClass('hidden');
                    $('div[role=alert]').children('strong').text('重试失败, ' + msg);
                }
            }
        })
    }

    // 动态更新剩余时间
    function update_rest_time() {
        console.log('update rest time')
        var d_tr = $('#t_deploy tr').not(':first');
        if (d_tr.length == 0) {
            clearInterval(rest_time_int)
        } else {
            d_tr.each(function () {
                task_log_id = $(this).attr('id').split('_')[1];
                $.ajax({
                    url: "/task_log/update_rest_time/" + task_log_id,
                    method: "get",
                    success: function (response) {
                        d_tr.children('td:nth-last-child(3)').text(response.msg)
                        if (response.msg == '00:00:00') {
                            clearInterval(rest_time_int)
                        }
                    }
                })
            })
        }
    }

    // 将准备部署或正在部署的任务ids传入后台,获取相应的返回信息
    {#    function ajax_send_date(id) {#}
    {#        $.ajax({#}
    {#            url: "/homework/get_deploy_result/" + id,#}
    {#            method: "get",#}
    {#            success: function (response) {#}
    {#                var status = response.status;#}
    {#                var status_name = response.status_name#}
    {#                var tr = $('#tr_' + id);#}
    {#                tr.children('td:nth-child(4)').empty();#}
    {#                if (status > 1) {#}
    {#                    //状态为部署完成#}
    {#                    $('#t_result tr:last').after(tr);#}
    {#                    tr.children('td:nth-child(4)').text(status_name);#}
    {#                    if (status == 2) {#}
    {#                        tr.addClass('green');#}
    {#                    } else {#}
    {#                        tr.addClass('red');#}
    {#                    }#}
    {#                } else if (status == 1) {#}
    {#                    //状态为正在部署#}
    {#                    tr.children('td:nth-child(4)').text(status_name)#}
    {#                    tr.children('td:nth-child(5)').append($('<img/>', {#}
    {#                        src: '/static/bootstrap/images/reload.gif',#}
    {#                        alt: 'reload',#}
    {#                        style: 'height: 20px;'#}
    {#                    }));#}
    {#                }#}
    {#            }#}
    {#        });#}
    {#    }#}
</script>